
*.ninja
*.asv

pvtol-rccm/codegen/

pvtol/metric/codegen/

pvtol/metric/codegen/mex/energyGradient/build/win64/.ninja_log

*.mat
*.fig
*.mexw64
/utilities/codegen/mex/RiemannEnergy/html/*.mldatx
codegen
/pvtol/*.pdf
*.zip
*.avi
/examples/dubins-car/W_fcn1.m
/examples/dubins-car/Y_fcn1.m
/examples/dubins-car/dW_dxi_fcn1.m
/examples/dubins-car/dW_dtheta.m
/examples/dubins-car/dW_dvx.m
/examples/dubins-car/dW_theta.m
/examples/dubins-car/df_dx.m
/examples/dubins-car/compute_u_ccm.m
/examples/dubins-car/compute_u_rccm.m
*.pdf
/examples/pvtol/metric/*.pdf
/examples/quadrotor/sim/*.pdf
/examples/pvtol/metric/df_dx.m
/examples/pvtol/metric/dW_dphi.m
/examples/pvtol/metric/dW_dvx.m
/examples/pvtol/metric/W_fcn1.m
/examples/pvtol/metric/Y_fcn1.m
/examples/quadrotor/metric/dW_dphi.m
/examples/quadrotor/metric/dW_dT.m
/examples/quadrotor/metric/dW_dtheta.m
/examples/quadrotor/metric/W_fcn1.m
/examples/quadrotor/metric/Y_fcn1.m
